@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
:root {
  --main-blue: #05386b;
  --main-blgr: #379683;
  --main-green: #5cdb95;
  --main-lgre: #8ee4af;
  --main-beig: #edf5e1;
  --main-fot : #379683;
}

img {
  width: 100px;
}
* {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
  background-color: var(--main-green);
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: var(--main-blgr) !important;
  font-size: 25px;
  width: 100%;
}
.nav-link:hover {
  background-color: var(--main-lgre);
}
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}
nav.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

#welcome-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
  background-color: var(--main-green);
  color: var(--main-beig);
}
.spans {
  color: var(--main-blue);
}
nav ul li {
  width: 300px;
  justify-content: center;
  text-align: center;
}
a.navbar-brand {
  width: 300px;
  justify-content: center;
  text-align: center;
}
#about ,#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding-top: 50px;
    background-color: var(--main-blgr);
    color: var(--main-beig); 
}
footer p{
    background-color: var(--main-beig);
    margin-bottom: 0;
    padding-right: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
.container2 h1{
  font-size: 100px;
}
.container2 h2{
  font-size: 60px;
}
.container2 .spans{
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.container2 span{
  transition: 1s font-size;
}
.container2 span:hover{
  transition: 1s font-size;
  font-size: 40px;
  transition-delay: 300ms;
}
#contact{
  align-items: center;

}
#contact a{
  font-size: 30px;
  
}
#contact a:hover{
  animation :jello-horizontal 1.5s ease-in-out 50ms both;
  -webkit-animation: jello-horizontal 1.5s ease-in-out 50ms both;;
}

.contact-section-header{
 padding-bottom:50px;
}
.contact-section-header h2{
  font-size: 45px;
}.contact-section-header p{
  font-size: 35px;
}
#about p{
  font-size: 25px;
  padding: 25px;
}
#projects h2{
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 50px;
  font-weight: 600;
}
.projects-grid a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.projects-grid a:hover{
  animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

}
@-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
            box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
            box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}